<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87b08d">  <td>18/10/28 15:47:42</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC002_CreateLead@3febb011]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2073621255</td>   <td></td> </tr>
<tr bgcolor="87b08d">  <td>18/10/28 15:48:02</td>   <td>19887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcases.TC002_CreateLead@3febb011]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@2073621255</td>   <td></td> </tr>
<tr bgcolor="9b6b76">  <td>18/10/28 15:47:52</td>   <td>9269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createLead()[pri:0, instance:testcases.TC002_CreateLead@3febb011]">createLead</td> 
  <td>main@2073621255</td>   <td></td> </tr>
<tr bgcolor="87b08d">  <td>18/10/28 15:48:02</td>   <td>20025</td> <td title="&lt;&lt;ProjectMethods.endTestCase()[pri:0, instance:testcases.TC002_CreateLead@3febb011]">&lt;&lt;endTestCase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2073621255</td>   <td></td> </tr>
<tr bgcolor="87b08d">  <td>18/10/28 15:47:42</td>   <td>146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcases.TC002_CreateLead@3febb011]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@2073621255</td>   <td></td> </tr>
<tr bgcolor="9b6b76">  <td>18/10/28 15:47:42</td>   <td>134</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:testcases.TC002_CreateLead@3febb011]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2073621255</td>   <td></td> </tr>
</table>
