<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93dd95">  <td>18/10/28 15:44:42</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC002_CreateLead@52a86356]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/10/28 15:44:53</td>   <td>10822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcases.TC002_CreateLead@52a86356]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/10/28 15:44:53</td>   <td>10812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createLead()[pri:0, instance:testcases.TC002_CreateLead@52a86356]">createLead</td> 
  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/10/28 15:44:55</td>   <td>13168</td> <td title="&lt;&lt;ProjectMethods.endTestCase()[pri:0, instance:testcases.TC002_CreateLead@52a86356]">&lt;&lt;endTestCase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/10/28 15:44:42</td>   <td>125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcases.TC002_CreateLead@52a86356]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/10/28 15:44:42</td>   <td>115</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:testcases.TC002_CreateLead@52a86356]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
</table>
